@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px rgba(13, 24, 67, 0.06);

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#navbar li{
    padding: 0px 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(50, 50, 223);
}

#navbar li a:hover{
    cursor: pointer;
    color: rgb(221, 36, 221);
}

#navbar li a.active{
    color: rgb(221, 36, 221);
}

#navbar li a.active::after{
    content: "";
    width: 25px;
    height: 2px;
    background: rgb(221, 36, 221);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("Images/Home/bg_hero.jpg");
    height: 110vh;
    width: 100%;
    background-size: cover;
    
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero button{
    color: white;
    background-color: rgb(42, 18, 135);
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 25px;
    font-family: monospace;
    font-size: larger;
}

#hero button:hover{
    cursor: pointer;
    color: rgb(221, 36, 221);
    opacity: 0.6;
}

#hero button:active{
    background-color: rgb(221, 36, 221);
    color: wheat;
}

#hero h1{
    color: rgb(168, 28, 168);   
}

#hero h4{
    padding-bottom: 30px;
    color: rgb(42, 18, 135);
    

}

#hero p{
  color: blueviolet;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 25px;
  box-shadow: 20px 20px 20px rgba(90, 74, 184, 0.3);
  border: 1px solid rgb(95, 109, 187);
  margin: 15px 0;
  border-radius: 10px;
}

#feature .fe-box:hover{
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(139, 127, 208, 0.3);
  border: 1px solid rgb(142, 150, 194);
}

#feature .fe-box:active{
  box-shadow: none;
}

#feature .fe-box h5{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 15px;
  color: rgb(240, 239, 246);
  background-color: rgb(117, 130, 198);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
  margin: 15px 0;
  transition: 0.2 ease;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: rgb(60, 45, 173);
  font-size: 12px;

}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #050c2c;
  font-size: 14px;
}